
<nav class="navbar navbar-light bg-dark text-white">
  <div class="container-fluid">
    <div>
      <a class="btn btn-nav" [routerLink]="urlBeerList">
        Bières
      </a>
    </div>
    Favoris
    <app-auth-nav></app-auth-nav>
  </div>

</nav>


<!-- <div class="nav-container mb-3">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
      <div class="navbar-brand logo"></div>
      <app-main-nav></app-main-nav>
      <app-auth-nav></app-auth-nav>
    </div>
  </nav>
</div> -->
