<div class="text-center">
 Search Bar
</div>

<div class="row mb-5">
  <div class="card-beer col-xl-2 col-lg-3 col-md-4 col-sm-6 text-center my-3"
    *ngFor="let beer of beers"
    routerLink="/beers/{{ beer.id }}">
    <h3>{{beer.name|titlecase}}</h3>
    <h4 class="text-center">
      {{beer.brewery.name}}
    </h4>
    <p class="text-left mx-4" style="text-align:left">
      Style : {{beer.style.name}}
    </p>
    <p class="text-left mx-4" style="text-align:left">
      Degrés : {{beer.degree}}
    </p>
    <p class="text-center">Ingredients</p>
    <span *ngFor="let ingredient of beer.ingredients">
      {{ingredient.name}}
    </span>
  </div>
</div>

<!-- <div class='container' *ngFor="let beer of beerZ">
  Beer name GetById : {{beer.name|titlecase}}
</div> -->
