<div
  class="mat-elevation-z4"
  style="
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  "
>
  <div *ngIf="userService.isConnected(user)" >
    <app-star style="position: absolute;">  </app-star>
  </div>
  <div class="Card-Image" *ngIf="beer.image.byteImage; else defaultImage">
    <img
      class="BeerImage"
      [src]="'data:image/jpeg;base64,' + beer.image.byteImage"
      routerLink="/beers/{{ beer.id }}"
      />
  </div>
  <ng-template #defaultImage>
    <img
      class="BeerImage"
      src="..\..\assets\images\defaultBeerImage.jpg"
      routerLink="/beers/{{ beer.id }}"
    />
  </ng-template>
  <div
    class="Card-Body"
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgb(192, 192, 192);
      padding-top: 10px;
    "
  >

    <p
      class="Name"
      style="justify-content: center; font-weight: bold; font-size: larger"
    >
      {{ beer.name }}
    </p>
    <p class="Origine" style="justify-content: center" >
      {{ beer.brewery.name }} / {{ beer.brewery.country.name }}
    </p>
    <p style="display: flex; justify-content: center">
      {{ beer.color.name }} / {{ beer.style.name }}
    </p>
  </div>
</div>
