<div *ngIf="beer" class="container">
  <div class="Beer-Container" style="
      padding: 20px;
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 0px 10px 1px darkgrey;
      margin-bottom: 75px;
    ">
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
      <div class="Beer-Details-Box" style="width: 50%; position: relative;">
        <div *ngIf="userService.isConnected(user)" style ="position: absolute">
          <app-star>  </app-star>
        </div>
        <div class="Beer-Details" style="padding: 20px; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
          <p class="BeerName" style="font-weight: bolder; font-size: xx-large;">
            {{ beer.name }}
          </p>
          <p class="BreweryName" style="font-weight: bolder; font-size: x-large">
            {{ beer.brewery.name }}
          </p>
          <p class="BeerNote" style="font-weight: bolder; font-size: larger">
            Note moyenne / Note perso
          </p>
          <p>{{ beer.style.name }} / {{ beer.color.name }}</p>
          <p>IBU : {{ beer.ibu }} / Degrés : {{ beer.degree }}°</p>
          <p>Ingrédients :</p>
          <div class="Beer-Details-Ingredient" style="display: flex; flex-direction: row">
            <div style="margin: 5px" *ngFor="let ingredient of beer.ingredients">
              {{ ingredient.name }}
            </div>
          </div>
        </div>
      </div>
      <div class="Image-Container" style="width: 50%;" *ngIf="beer.image.byteImage; else defaultImage">
        <img class="BeerImage" width="100%" [src]="'data:image/jpeg;base64,' + beer.image.byteImage" />
      </div>
      <ng-template #defaultImage>
        <img class="BeerImage" src="..\..\assets\images\defaultBeerImage.jpg" />
      </ng-template>
    </div>
    <hr />
    <div class="Beer-Description" style="padding: 10px">
      <label style="font-weight: bold">Description :</label>
      <p>{{ beer.description }}</p>
    </div>
    <hr />
    <div class="Beer-Comment" style="padding: 10px">
      <label style="font-weight: bold; margin-bottom: 20px;">Commentaires :</label>
      <div>
        <label class="UserName" style="font-weight: bold">Clément - 21/02/2022</label>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo sed urna id interdum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed porttitor viverra aliquam. Proin non erat sit amet turpis consequat tincidunt quis eget orci. Nunc vel erat convallis, pellentesque metus in, viverra enim. Mauris euismod mollis bibendum. Vestibulum euismod elementum nisl. Praesent porta turpis dolor, sit amet semper quam vehicula sit amet. Sed ac eros ut sem hendrerit accumsan id eu diam. Integer in sapien laoreet eros accumsan pretium vitae non diam. Curabitur varius placerat diam, sed suscipit dolor luctus id. Vivamus posuere at tortor in rhoncus. Phasellus at sollicitudin est.</p>
      </div>
      <hr />
      <div>
        <label class="UserName" style="font-weight: bold">Armel - 21/02/2022</label>
        <p>Proin at vulputate urna, non gravida arcu. Duis id sagittis ipsum. Quisque ipsum lacus, vulputate non justo hendrerit, laoreet volutpat lacus. Suspendisse potenti. Suspendisse scelerisque erat sapien, sit amet malesuada nunc sollicitudin eu. Quisque rhoncus tempor finibus. Ut ac nisi ut urna interdum pretium. Vestibulum eleifend id eros eu sollicitudin. Nulla tristique a ex at consequat. In hac habitasse platea dictumst. Donec eget urna lacinia, dapibus neque ac, mattis odio. Integer malesuada a ipsum a molestie. Integer viverra, purus eget euismod lobortis, quam libero faucibus purus, eget ultrices magna dolor et leo. Proin pellentesque purus nec ligula facilisis ullamcorper.</p>
      </div>
      <hr />
      <div>
        <label class="UserName" style="font-weight: bold">Clément - 22/02/2022</label>
        <p>
          Integer justo enim, scelerisque in luctus sed, mattis et ante. Nullam sodales sapien placerat tortor blandit, pharetra eleifend orci auctor. Maecenas quis pretium ipsum. Mauris non tortor id neque luctus accumsan. Vivamus ligula lacus, fringilla non ornare eget, accumsan quis massa. Donec nunc libero, ultricies eget aliquam a, vestibulum a ipsum. Donec dapibus laoreet urna, ac hendrerit dui egestas in. Sed ut fringilla odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur dignissim tristique nisi in sagittis.
        </p>
      </div>
      <hr />
      <div>
        <label class="UserName" style="font-weight: bold">Armel - 22/02/2022</label>
        <p>Morbi a egestas ipsum. Integer bibendum non orci eu lacinia. Fusce placerat feugiat neque. Sed ultricies massa id eros cursus, in dapibus dolor vehicula. Pellentesque rhoncus nisl in tortor suscipit sollicitudin. Nam vitae congue arcu. Duis at facilisis eros, a viverra libero. Maecenas ac dui at dui commodo semper ac pharetra ante. Sed convallis augue eget elementum commodo. Vestibulum vel fringilla turpis. Ut fermentum felis quam.</p>
      </div>
      <hr />
    </div>
  </div>
</div>
