<!-- <div *ngIf="userService.isConnected(user)" style ="position: absolute" (click)="switchFavoriteState()"> -->
  <!-- <div *ngIf="userService.isConnected(user)" style ="position: absolute" (click)="switchFavoriteState()"> -->
  <div style="display: block; position: absolute;" *ngIf="user.profile.isIdInFavorites(this.beer.id); else notFavorite" > <!-- a privilégier si jamais on est aps sur que le user soit complet au chargement de ce composant -->
  <!-- <div *ngIf="isFavorite; else notFavorite"> -->
    <span (click)="switchFavoriteState()" class="material-icons" style="display: flex; justify-content: left; font-size: 400%; color: rgb(255, 230, 2); text-shadow: 0px 0px 8px rgb(68, 68, 68);"> grade </span>
  </div>
  <ng-template #notFavorite>
    <span (click)="switchFavoriteState()" class="material-icons" style="display: flex; justify-content: left; font-size: 400%; "> grade </span>
  </ng-template>
<!-- </div> -->

