<header class="AppHeader" style="height: 50px;">
  <app-navbar></app-navbar>
</header>

<div class="AppBody"
     style="background-color: rgb(236, 236, 236);
            min-height: 100%;
            max-width: 100%;
            overflow: hidden;
            padding-top: 50px; padding-bottom: 50px;">
  <router-outlet></router-outlet>
</div>

<footer class="AppFooter"
        style="height: 50px;
               width: 100%;
               background-color: black;
               display: flex;
               align-items: center;
               justify-content: center;
               color: white;
               position: fixed;
               bottom: 0;">
  Wikibeer, une application qu'elle est bien
</footer>


