
.card-beer {
  margin: 10px;
  border-radius: 10%;
  background-color: #cfcfcc;
  border-color: #000000;
  border-width: 100px;
  color: #000000;
  padding: 0%;

  cursor: crosshair;
  &:hover {transform: scale(1.2);}
}

.btn-nav{
  background-color: rgb(190, 192, 187);
  color: #000000;
}
