<div style="display: flex; justify-content: center; justify-items: center; align-items: center; align-content: center;">
  <div class="UserPresenter" style=" display: flex; max-width: 900px; width: 80%; background-color: white; border-radius: 5px; box-shadow: 0px 0px 10px 1px darkgrey; padding: 20px;">
    <div style="width: 50%;">
      <!-- <img [src]="" alt="User's profile picture" class="rounded-circle img-fluid profile-picture" /> -->
    </div>
    <div style="display: flex; flex-direction: column; width: 50%;">
      <div style="display: flex; justify-content: center; width: 100%;">
        <h1 style="width: fit-content;">General</h1>
      </div>
      <label style="font-weight: bold;">NickName</label>
      <p>{{user}}</p>
      <label style="font-weight: bold;">Country</label>
      <label style="font-weight: bold;">Email</label>
    </div>
    <!-- <div class="row" *ngIf="profileJson">
      <pre class="col-12 text-light bg-dark p-4">{{ profileJson }}</pre>
    </div> -->
  </div>
</div>
